In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("whitegrid")

In [3]:
all_stores = pd.read_csv(\
'/Volumes/GoogleDrive/My Drive/wish_local/dsf1662_reestimate_profit_of_1152_channel_for_fusion_in_us/1256484155.csv')

In [4]:
# good stores
good_stores = pd.read_csv(\
'/Volumes/GoogleDrive/My Drive/wish_local/dsf1662_reestimate_profit_of_1152_channel_for_fusion_in_us/good_stores_202109_202111_weight_1kg.csv')

In [5]:
df = pd.merge(good_stores, all_stores, how='inner', on='store_id')

In [6]:
all_stores.shape, good_stores.shape, df.shape

((141183, 15), (1238, 2), (62777, 16))

In [7]:
df.groupby('store_id')[['gmv', 'num_mids']].sum()

                                  gmv  num_mids
store_id
5c09970e6fa88cf8bb2ce107  3781.620005       319
5c09970e6fa88cf8bb2ce10b  5928.780027       668
5c0997106fa88cf8bb2ce125  6344.131575       475
5c0997116fa88cf8bb2ce129  7105.370021       867
5c0997126fa88cf8bb2ce137  4627.590016       438
...                               ...       ...
6174cb01442c331e90699d03   549.530006        73
617981b0c5712fe58b56aef3   359.579999        20
617ae273135d25cd320244e5   745.380005        51
617d8861709d8e6d4e324fee   758.990001        48
6186feee70d673695f7e9422   318.550005        24

[1238 rows x 2 columns]

In [8]:
df.columns

Index(['store_id', 'time_range', 'epc_combined_date', 'order_channel_post',
       'fm_count', 'lm_count', 'gmv', 'weight', 'num_mids', 'sales_fm',
       'purchase_fm', 'purchase_logistics_fee_lm_previous',
       'purchase_other_fees_lm_previous', 'logistics_profit_cny_previous',
       'purchase_logistics_fee_lm_1152', 'purchase_logistics_fee_lm_newtd'],
      dtype='object')

In [9]:
# query: https://superset.s.tahoe.wish.site/superset/sqllab/?savedQueryId=1805
# gmv data from 2021-10-01 to 2021-11-21
data = pd.read_csv('/Volumes/GoogleDrive/My Drive/wish_local/dsf1662_reestimate_profit_of_1152_channel_for_fusion_in_us/premium_store_info_data.csv')

In [10]:
data.describe()

       store_state           gmv       orders
count  1238.000000   1238.000000  1238.000000
mean      1.331987   3818.178186   386.415186
std       0.833103   2260.724136   241.941729
min       1.000000      0.000000     0.000000
25%       1.000000   2495.777500   236.000000
50%       1.000000   3505.630000   347.500000
75%       1.000000   4725.017500   495.000000
max       6.000000  18669.750000  2049.000000

In [11]:
data['state'].nunique()

88

In [12]:
state_string = """Alabama	AL	Ala.
Alaska	AK	Alaska
Arizona	AZ	Ariz.
Arkansas	AR	Ark.
California	CA	Calif.
Colorado	CO	Colo.
Connecticut	CT	Conn.
Delaware	DE	Del.
District Of Columbia	DC	DC.
Florida	FL	Fla.
Georgia	GA	Ga.
Hawaii	HI	Hawaii
Idaho	ID	Idaho
Illinois	IL	Ill.
Indiana	IN	Ind.
Iowa	IA	Iowa
Kansas	KS	Kans.
Kentucky	KY	Ky.
Louisiana	LA	La.
Maine	ME	Maine
Maryland	MD	Md.
Massachusetts	MA	Mass.
Michigan	MI	Mich.
Minnesota	MN	Minn.
Mississippi	MS	Miss.
Missouri	MO	Mo.
Montana	MT	Mont.
Nebraska	NE	Neb. or Nebr.
Nevada	NV	Nev.
New Hampshire	NH	N.H.
New Jersey	NJ	N.J.
New Mexico	NM	N.Mex.
New York	NY	N.Y.
North Carolina	NC	N.C.
North Dakota	ND	N.Dak.
Ohio	OH	Ohio
Oklahoma	OK	Okla.
Oregon	OR	Ore. or Oreg.
Pennsylvania	PA	Pa.
Rhode Island	RI	R.I.
South Carolina	SC	S.C.
South Dakota	SD	S.Dak.
Tennessee	TN	Tenn.
Texas	TX	Tex. or Texas
Utah	UT	Utah
Vermont	VT	Vt.
Virginia	VA	Va.
Washington	WA	Wash.
West Virginia	WV	W.Va.
Wisconsin	WI	Wis. or Wisc.
Wyoming	WY	Wyo."""

In [13]:
rows = state_string.split('\n')
rows = [r.split('\t') for r in rows]
state_dict = {}
for row in rows:
    state_dict[row[0]] = row[1]

In [14]:
state_dict

{'Alabama': 'AL',
 'Alaska': 'AK',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'District Of Columbia': 'DC',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Montana': 'MT',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virginia': 'VA',
 'Washington': 'WA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY'}

In [15]:
def state_abbr(x):
    if pd.isna(x):
        return 'unknown'
    elif len(x) <= 2:
        return x
    else:
        return state_dict[x]


data['state_abbr'] = data['state'].apply(state_abbr)

In [18]:
# the premium stores take about 60% of the US daily order volume (including sensitive (battyer) and normal products)
data['orders'].sum() / 52

9199.653846153846

In [68]:
data.groupby(['state_abbr']).agg(\
            {'store_id':'count', 'gmv':[sum, 'mean'], 'orders':[sum, 'mean']}).round(0).astype(int)

           store_id     gmv       orders
              count     sum  mean    sum mean
state_abbr
AL               11   36040  3276   3939  358
AR                4   11368  2842   1180  295
AZ               37  158836  4293  17664  477
CA              198  894790  4519  86730  438
CO               23  114534  4980  12068  525
CT               12   34972  2914   3607  301
DC                2   11120  5560    746  373
DE                6   28045  4674   2892  482
FL              125  435410  3483  46012  368
GA               29   80712  2783   8193  283
IA                6   20787  3464   2127  354
ID                5   20136  4027   2513  503
IL               53  159875  3017  15473  292
IN               27  102071  3780  10800  400
KS               11   42732  3885   4712  428
KY               10   53860  5386   5835  584
LA               11   29690  2699   3124  284
MA               28   80718  2883   7355  263
MD               29   90435  3118   8034  277
ME                2    5323  2662    553  276
MI               34  102029  3001  10661  314
MN               12   54651  4554   4894  408
MO               33  140927  4271  14940  453
MS                3    8089  2696    754  251
MT                2    7239  3619    764  382
NC               30   94590  3153   9433  314
ND                2    4459  2229    386  193
NE                4   28855  7214   3294  824
NH                1    9132  9132    990  990
NJ               28   97286  3475   8077  288
NM                9   38434  4270   4149  461
NV               21   98734  4702   9933  473
NY               67  225663  3368  19997  298
OH               42  161820  3853  16690  397
OK               15   66350  4423   7334  489
OR               14   84503  6036   9736  695
PA               47  142588  3034  14287  304
RI                3   14750  4917   1550  517
SC               17   57109  3359   6041  355
SD                1    6866  6866    771  771
TN               29   88279  3044   9625  332
TX               95  345180  3633  36218  381
UT               14   90520  6466   9515  680
VA               30  112358  3745  10525  351
VT                1    2470  2470    290  290
WA               39  172160  4414  17783  456
WI               11   44951  4086   4461  406
WV                3    8306  2769    901  300
WY                1    4332  4332    493  493
unknown           1    2824  2824    333  333